<section id="updates-reliases" class="updates-reliases">
  <div class="container updates-reliase-container">
    <ul class="updates-reliase-list">
      <li class="updates-reliase-item">
        <img
          class="updates-reliase-img"
          src="././img/Updates/HOMES-APT-Cannon-2-.jpg.jpg"
          alt="Homes-Art"
        />
        <div class="updates-reliase-text-content">
          <div class="updates-reliase-herro-wrapper">
            <h1 class="updates-reliase-herro">Homes and Apartments</h1>
            <p class="reliase-herro-text">Wrocław,<br />20.03.2025</p>
          </div>
          <p class="updates-reliase-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia rerum
            modi a vel atque ab dolores quod doloribus, ea sit maiores
            voluptatibus, quaerat, accusamus consequuntur est! Itaque vitae
            officia quaerat!
          </p>
          <a class="more-link more-relises contact-btn" href="#"
            >Więcej
            <svg class="arrow-icon more-relises">
              <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
          ></a>
        </div>
      </li>
      <li class="updates-reliase-item">
        <img
          class="updates-reliase-img"
          src="././img/Updates/HOMES-APT-Cannon-2-.jpg.jpg"
          alt="Homes-Art"
        />
        <div class="updates-reliase-text-content">
          <div class="updates-reliase-herro-wrapper">
            <h1 class="updates-reliase-herro">Homes and Apartments</h1>
            <p class="reliase-herro-text">Wrocław,<br />20.03.2025</p>
          </div>
          <p class="updates-reliase-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia rerum
            modi a vel atque ab dolores quod doloribus, ea sit maiores
            voluptatibus, quaerat, accusamus consequuntur est! Itaque vitae
            officia quaerat!
          </p>
          <a class="more-link more-relises contact-btn" href="#"
            >Więcej
            <svg class="arrow-icon more-relises">
              <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
          ></a>
        </div>
      </li>
      <li class="updates-reliase-item">
        <img
          class="updates-reliase-img"
          src="././img/Updates/HOMES-APT-Cannon-2-.jpg.jpg"
          alt="Homes-Art"
        />
        <div class="updates-reliase-text-content">
          <div class="updates-reliase-herro-wrapper">
            <h1 class="updates-reliase-herro">Homes and Apartments</h1>
            <p class="reliase-herro-text">Wrocław,<br />20.03.2025</p>
          </div>
          <p class="updates-reliase-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia rerum
            modi a vel atque ab dolores quod doloribus, ea sit maiores
            voluptatibus, quaerat, accusamus consequuntur est! Itaque vitae
            officia quaerat!
          </p>
          <a class="more-link more-relises contact-btn" href="#"
            >Więcej
            <svg class="arrow-icon more-relises">
              <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
          ></a>
        </div>
      </li>
    </ul>
  </div>
</section>
