<section id="gallery" class="gallery">
  <div class="container gallery-container">
    <h1 class="gallery-header">Galeria</h1>
    <ul class="gallery-list">
      <li class="gallery-item">
        <a href="./gallery/gallery1.jpg"
          ><img
            class="gallry-img"
            src="././img/Gallery/gallery1.jpg"
            alt="не забути додати назву"
        /></a>
      </li>
      <li class="gallery-item">
        <a href="././img/Gallery/gallery2.jpg"
          ><img
            class="gallry-img"
            src="././img/Gallery/gallery2.jpg"
            alt="не забути додати назву"
        /></a>
      </li>
      <li class="gallery-item">
        <a href="././img/Gallery/gallery3.jpg"
          ><img
            class="gallry-img"
            src="././img/Gallery/gallery3.jpg"
            alt="не забути додати назву"
        /></a>
      </li>
      <li class="gallery-item">
        <a href="././img/Gallery/gallery4.jpg"
          ><img
            class="gallry-img"
            src="././img/Gallery/gallery4.jpg"
            alt="не забути додати назву"
        /></a>
      </li>
      <li class="gallery-item">
        <a href="././img/Gallery/gallery5.jpg"
          ><img
            class="gallry-img"
            src="././img/Gallery/gallery5.jpg"
            alt="не забути додати назву"
        /></a>
      </li>
      <li class="gallery-item">
        <a href="././img/Gallery/gallery6.jpg"
          ><img
            class="gallry-img"
            src="././img/Gallery/gallery6.jpg"
            alt="не забути додати назву"
        /></a>
      </li>
    </ul>
    <a class="contact-btn news-btn" href="#">Skontaktuj się</a>
  </div>
</section>
