.gallery {
  display: flex;
  justify-content: center;
}
.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(246, 246, 246, 1);
  width: 100%;
  margin: 30px 0;
  align-items: center;
}

.gallery-header {
  font-family: Poiret One;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.gallery-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Розрив між картинками */

  margin-bottom: 30px;
}
.gallery-item {
  overflow: hidden;
  max-width: (100% - 30px, 400px);
  max-height: 200px;
  box-shadow: 0 3px 4px -5px rgba(0, 0, 0, 0.04),
    0 7px 10px -5px rgba(107, 7, 7, 0.06),
    0 18px 24px -5px rgba(17, 173, 11, 0.08),
    0 60px 80px -5px rgba(0, 0, 0, 0.1);
}
.gallry-img {
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .gallery-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Дві колонки однакової ширини */
    gap: 20px; /* Відступ між елементами */
  }
}
@media only screen and (min-width: 1200px) {
  .gallery-container {
    align-items: start;
    margin-bottom: 140px;
  }

  .gallery-list {
    gap: 124px 194px;
  }
  .gallery-item {
    overflow: hidden;
    max-width: 623px;
    max-height: 480px;
  }
  .gallery-header {
    font-size: 50px;
    line-height: 100%;
    text-align: start;
    margin-bottom: 142px;
    margin-top: 179px;
  }
  .gallery-list {
    margin-bottom: 130px;
  }
}
