.attitude {
  box-shadow: 0 3px 4px -5px rgba(0, 0, 0, 0.04),
    0 7px 10px -5px rgba(0, 0, 0, 0.06), 0 18px 24px -5px rgba(0, 0, 0, 0.08),
    0 60px 80px -5px rgba(0, 0, 0, 0.1);
  background: #fff;
  margin-bottom: 100px;
}
.attitude-container {
  display: flex;

  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: space-between;
}

.attitude-video {
  display: block;
  padding: 0;
  margin: 0;
  max-width: 800px; /*має бути 900 на 541, але контент не влазе*/
  aspect-ratio: 16 / 9;
}
.attitude-title {
  font-family: var(--font-family-second);
  font-weight: var(--font-weight-base);
  font-size: 50px;
  line-height: 1;
  color: var(--section-text-color-dark);
  margin-bottom: 40px;
}
.attitude-text {
  max-width: 519px;
  font-weight: var(--font-weight-base);
  font-size: 24px;
  line-height: 1.39326;
  color: var(--section-text-color-dark);
}
