<section id="imp-projects" class="imp-projects">
  <div class="container imp-projects-container">
    <h2 class="imp-projects-header">Nasze realizację</h2>
    <ul class="imp-project-list">
      <li class="imp-project-main-item">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor: Romuald Olbrych</h3>
            <h2 class="imp-project-info-street">ul. Browarna</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Wykonanie robót remontowo-budowlanych w 87 mieszkaniach w
              budynkach A i B zlokalizowanych przy ul. Browarnej we Wrocławiu
            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
              <p class="imp-project-count">87</p>
              <p class="imp-project-count-text">mieszkań</p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2023r.</p>
              <p class="imp-project-year-text">czerwiec - październik</p>
            </div>
             <a class="more-link impl-btn js-impl-gallery " data-implGallery="1"
            >Więcej
            <svg class="arrow-icon more-link-news">
              <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
          >...</a>
          </div>
        </div>
        <div class="imp-project-img-item">
         <img
  class="imp-project-img"
  src="/gallery-impl/gallery1/DSC03444-min.JPG"
  srcset="/gallery-impl/gallery1/DSC03444-min.JPG 1x, ././public/gallery-impl/gallery1-2x/DSC03444-min.JPG 2x"
  alt="nanowo-build"
/>
        </div>
        <img
          class="imp-project-img-mob"
          src="/gallery-impl/gallery1/DSC03440-min.JPG"
  srcset="/gallery-impl/gallery1/DSC03440-min.JPG 1x, ././public/gallery-impl/gallery1-2x/DSC03440-min.JPG 2x"
  alt="nanowo-build"
        />
      </li>
      <li class="imp-project-main-item">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor: Romuald Olbrych</h3>
            <h2 class="imp-project-info-street">ul. Browarna</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Wykonanie robót remontowo-budowlanych w 87 mieszkaniach w
              budynkach A i B zlokalizowanych przy ul. Browarnej we Wrocławiu
            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
              <p class="imp-project-count">87</p>
              <p class="imp-project-count-text">mieszkań</p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2023r.</p>
              <p class="imp-project-year-text">czerwiec - październik</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery " data-implGallery="2"
            >Więcej
            <svg class="arrow-icon more-link-news">
              <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
          ></a>
          </div>
        </div>
        <div class="imp-project-img-item">
          <img
            class="imp-project-img"
            src="././img/Implemetation/imp-img2.jpg"
            alt="nanowo-build"
          />
          <img
            class="imp-project-img-mob"
            src="././img/Implemetation/mobile-img/b2-mob.jpg"
            alt="nanowo-build"
          />
        </div>
      </li>
      <li class="imp-project-main-item">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor: Romuald Olbrych</h3>
            <h2 class="imp-project-info-street">ul. Browarna</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Wykonanie robót remontowo-budowlanych w 87 mieszkaniach w
              budynkach A i B zlokalizowanych przy ul. Browarnej we Wrocławiu
            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
              <p class="imp-project-count">87</p>
              <p class="imp-project-count-text">mieszkań</p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2023r.</p>
              <p class="imp-project-year-text">czerwiec - październik</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery " data-implGallery="3"
            >Więcej
            <svg class="arrow-icon more-link-news">
              <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
          ></a>
          </div>
        </div>
        <div class="imp-project-img-item">
          <img
            class="imp-project-img"
            src="././img/Implemetation/imp-img3.jpg"
            alt="nanowo-build"
          />
          <img
            class="imp-project-img-mob"
            src="././img/Implemetation/mobile-img/b3-mob.jpg"
            alt="nanowo-build"
          />
        </div>
      </li>
      <li class="imp-project-main-item">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor: Romuald Olbrych</h3>
            <h2 class="imp-project-info-street">ul. Browarna</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Wykonanie robót remontowo-budowlanych w 87 mieszkaniach w
              budynkach A i B zlokalizowanych przy ul. Browarnej we Wrocławiu
            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
              <p class="imp-project-count">87</p>
              <p class="imp-project-count-text">mieszkań</p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2023r.</p>
              <p class="imp-project-year-text">czerwiec - październik</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery " data-implGallery="4"
            >Więcej
            <svg class="arrow-icon more-link-news">
              <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
          ></a>
          </div>
        </div>
        <div class="imp-project-img-item">
          <img
            class="imp-project-img"
            src="././img/Implemetation/imp-img1.jpg"
            alt="nanowo-build"
          />
          <img
            class="imp-project-img-mob"
            src="././img/Implemetation/mobile-img/b1-mob.jpg"
            alt="nanowo-build"
          />
        </div>
      </li>
      <li class="imp-project-main-item">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor: Romuald Olbrych</h3>
            <h2 class="imp-project-info-street">ul. Browarna</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Wykonanie robót remontowo-budowlanych w 87 mieszkaniach w
              budynkach A i B zlokalizowanych przy ul. Browarnej we Wrocławiu
            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
              <p class="imp-project-count">87</p>
              <p class="imp-project-count-text">mieszkań</p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2023r.</p>
              <p class="imp-project-year-text">czerwiec - październik</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery " data-implGallery="5"
            >Więcej
            <svg class="arrow-icon more-link-news">
              <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
          ></a>
          </div>
        </div>
        <div class="imp-project-img-item">
          <img
            class="imp-project-img"
            src="././img/Implemetation/imp-img4.jpg"
            alt="nanowo-build"
          />
          <img
            class="imp-project-img-mob"
            src="././img/Implemetation/mobile-img/b4-mob.jpg"
            alt="nanowo-build"
          />
        </div>
      </li>
      <li class="imp-project-main-item">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor: Romuald Olbrych</h3>
            <h2 class="imp-project-info-street">ul. Browarna</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Wykonanie robót remontowo-budowlanych w 87 mieszkaniach w
              budynkach A i B zlokalizowanych przy ul. Browarnej we Wrocławiu
            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
              <p class="imp-project-count">87</p>
              <p class="imp-project-count-text">mieszkań</p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2023r.</p>
              <p class="imp-project-year-text">czerwiec - październik</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery " data-implGallery="6"
            >Więcej
            <svg class="arrow-icon more-link-news">
              <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
          ></a>
          </div>
        </div>
        <div class="imp-project-img-item">
          <img
            class="imp-project-img"
            src="././img/Implemetation/imp-img5.jpg"
            alt="nanowo-build"
          />
          <img
            class="imp-project-img-mob"
            src="././img/Implemetation/mobile-img/b5-mob.jpg"
            alt="nanowo-build"
          />
        </div>
      </li>
      <li class="imp-project-main-item">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor: Romuald Olbrych</h3>
            <h2 class="imp-project-info-street">ul. Browarna</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Wykonanie robót remontowo-budowlanych w 87 mieszkaniach w
              budynkach A i B zlokalizowanych przy ul. Browarnej we Wrocławiu
            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
              <p class="imp-project-count">87</p>
              <p class="imp-project-count-text">mieszkań</p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2023r.</p>
              <p class="imp-project-year-text">czerwiec - październik</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery " data-implGallery="7"
            >Więcej
            <svg class="arrow-icon more-link-news">
              <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
          ></a>
          </div>
        </div>
        <div class="imp-project-img-item">
          <img
            class="imp-project-img"
            src="././img/Implemetation/imp-img6.jpg"
            alt="nanowo-build"
          />
          <img
            class="imp-project-img-mob"
            src="././img/Implemetation/mobile-img/b6-mob.jpg"
            alt="nanowo-build"
          />
        </div>
      </li>
      <li class="imp-project-main-item">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor: Romuald Olbrych</h3>
            <h2 class="imp-project-info-street">ul. Browarna</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Wykonanie robót remontowo-budowlanych w 87 mieszkaniach w
              budynkach A i B zlokalizowanych przy ul. Browarnej we Wrocławiu
            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
              <p class="imp-project-count">87</p>
              <p class="imp-project-count-text">mieszkań</p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2023r.</p>
              <p class="imp-project-year-text">czerwiec - październik</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery " data-implGallery="8"
            >Więcej
            <svg class="arrow-icon more-link-news">
              <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
          ></a>
          </div>
        </div>
        <div class="imp-project-img-item">
          <img
            class="imp-project-img"
            src="././img/Implemetation/imp-img1.jpg"
            alt="nanowo-build"
          />
          <img
            class="imp-project-img-mob"
            src="././img/Implemetation/mobile-img/b2-mob.jpg"
            alt="nanowo-build"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
