<section id="imp-projects" class="imp-projects">
  <div class="container imp-projects-container">
    <h2 class="imp-projects-header">Nasze realizację</h2>
    <div class="imp-project-wrapper">
      <ul class="imp-project-list">
        <li class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor: Romuald Olbrych</h3>
            <h2 class="imp-project-info-street">ul. Browarna</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Wykonanie robót remontowo-budowlanych w 87 mieszkaniach w
              budynkach A i B zlokalizowanych przy ul. Browarnej we Wrocławiu
            </p>
          </div>
          <div class="imp-project-after-wrapper">
            <p class="imp-project-count">87</p>
            <p class="imp-project-count-text">mieszkań</p>
          </div>
          <div class="imp-project-after-wrapper">
            <p class="imp-project-year">2023r.</p>
            <p class="imp-project-year-text">czerwiec - październik</p>
          </div>
        </li>
        <li class="imp-project-img-item">
          <img
            class="imp-project-img"
            src="../../img/Implemetation/imp-img1.jpg"
            alt="nanowo-build"
          />
        </li>
      </ul>
      <ul class="imp-project-list">
        <li class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor: Romuald Olbrych</h3>
            <h2 class="imp-project-info-street">ul. Browarna</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Wykonanie robót remontowo-budowlanych w 87 mieszkaniach w
              budynkach A i B zlokalizowanych przy ul. Browarnej we Wrocławiu
            </p>
          </div>
          <div class="imp-project-after-wrapper">
            <p class="imp-project-count">87</p>
            <p class="imp-project-count-text">mieszkań</p>
          </div>
          <div class="imp-project-after-wrapper">
            <p class="imp-project-year">2023r.</p>
            <p class="imp-project-year-text">czerwiec - październik</p>
          </div>
        </li>
        <li class="imp-project-img-item">
          <img
            class="imp-project-img"
            src="../../img/Implemetation/imp-img2.jpg"
            alt="nanowo-build"
          />
        </li>
      </ul>
      <ul class="imp-project-list">
        <li class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor: Romuald Olbrych</h3>
            <h2 class="imp-project-info-street">ul. Browarna</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Wykonanie robót remontowo-budowlanych w 87 mieszkaniach w
              budynkach A i B zlokalizowanych przy ul. Browarnej we Wrocławiu
            </p>
          </div>
          <div class="imp-project-after-wrapper">
            <p class="imp-project-count">87</p>
            <p class="imp-project-count-text">mieszkań</p>
          </div>
          <div class="imp-project-after-wrapper">
            <p class="imp-project-year">2023r.</p>
            <p class="imp-project-year-text">czerwiec - październik</p>
          </div>
        </li>
        <li class="imp-project-img-item">
          <img
            class="imp-project-img"
            src="../../img/Implemetation/imp-img3.jpg"
            alt="nanowo-build"
          />
        </li>
      </ul>
      <ul class="imp-project-list">
        <li class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor: Romuald Olbrych</h3>
            <h2 class="imp-project-info-street">ul. Browarna</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Wykonanie robót remontowo-budowlanych w 87 mieszkaniach w
              budynkach A i B zlokalizowanych przy ul. Browarnej we Wrocławiu
            </p>
          </div>
          <div class="imp-project-after-wrapper">
            <p class="imp-project-count">87</p>
            <p class="imp-project-count-text">mieszkań</p>
          </div>
          <div class="imp-project-after-wrapper">
            <p class="imp-project-year">2023r.</p>
            <p class="imp-project-year-text">czerwiec - październik</p>
          </div>
        </li>
        <li class="imp-project-img-item">
          <img
            class="imp-project-img"
            src="../../img/Implemetation/imp-img1.jpg"
            alt="nanowo-build"
          />
        </li>
      </ul>
      <ul class="imp-project-list">
        <li class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor: Romuald Olbrych</h3>
            <h2 class="imp-project-info-street">ul. Browarna</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Wykonanie robót remontowo-budowlanych w 87 mieszkaniach w
              budynkach A i B zlokalizowanych przy ul. Browarnej we Wrocławiu
            </p>
          </div>
          <div class="imp-project-after-wrapper">
            <p class="imp-project-count">87</p>
            <p class="imp-project-count-text">mieszkań</p>
          </div>
          <div class="imp-project-after-wrapper">
            <p class="imp-project-year">2023r.</p>
            <p class="imp-project-year-text">czerwiec - październik</p>
          </div>
        </li>
        <li class="imp-project-img-item">
          <img
            class="imp-project-img"
            src="../../img/Implemetation/imp-img4.jpg"
            alt="nanowo-build"
          />
        </li>
      </ul>
      <ul class="imp-project-list">
        <li class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor: Romuald Olbrych</h3>
            <h2 class="imp-project-info-street">ul. Browarna</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Wykonanie robót remontowo-budowlanych w 87 mieszkaniach w
              budynkach A i B zlokalizowanych przy ul. Browarnej we Wrocławiu
            </p>
          </div>
          <div class="imp-project-after-wrapper">
            <p class="imp-project-count">87</p>
            <p class="imp-project-count-text">mieszkań</p>
          </div>
          <div class="imp-project-after-wrapper">
            <p class="imp-project-year">2023r.</p>
            <p class="imp-project-year-text">czerwiec - październik</p>
          </div>
        </li>
        <li class="imp-project-img-item">
          <img
            class="imp-project-img"
            src="../../img/Implemetation/imp-img5.jpg"
            alt="nanowo-build"
          />
        </li>
      </ul>
      <ul class="imp-project-list">
        <li class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor: Romuald Olbrych</h3>
            <h2 class="imp-project-info-street">ul. Browarna</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Wykonanie robót remontowo-budowlanych w 87 mieszkaniach w
              budynkach A i B zlokalizowanych przy ul. Browarnej we Wrocławiu
            </p>
          </div>
          <div class="imp-project-after-wrapper">
            <p class="imp-project-count">87</p>
            <p class="imp-project-count-text">mieszkań</p>
          </div>
          <div class="imp-project-after-wrapper">
            <p class="imp-project-year">2023r.</p>
            <p class="imp-project-year-text">czerwiec - październik</p>
          </div>
        </li>
        <li class="imp-project-img-item">
          <img
            class="imp-project-img"
            src="../../img/Implemetation/imp-img6.jpg"
            alt="nanowo-build"
          />
        </li>
      </ul>
      <ul class="imp-project-list">
        <li class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor: Romuald Olbrych</h3>
            <h2 class="imp-project-info-street">ul. Browarna</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Wykonanie robót remontowo-budowlanych w 87 mieszkaniach w
              budynkach A i B zlokalizowanych przy ul. Browarnej we Wrocławiu
            </p>
          </div>
          <div class="imp-project-after-wrapper">
            <p class="imp-project-count">87</p>
            <p class="imp-project-count-text">mieszkań</p>
          </div>
          <div class="imp-project-after-wrapper">
            <p class="imp-project-year">2023r.</p>
            <p class="imp-project-year-text">czerwiec - październik</p>
          </div>
        </li>
        <li class="imp-project-img-item">
          <img
            class="imp-project-img"
            src="../../img/Implemetation/imp-img1.jpg"
            alt="nanowo-build"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
