.turnkey-section {
  background-color: #ffffff;
}
.turnkey-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.turnkey-text-content {
  max-width: 320px;
}
.turnkey-img-wrap {
  display: flex;
  width: 320px;
  height: 270px;
  overflow: hidden;
}
.turnkey-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.turnkey-iteam {
  position: relative;
  display: flex;
  padding-left: 10px;
}
.turnkey-iteam::before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--second-background-color);
  position: absolute;
  top: 10px;
  left: 0;
}

.turnkey-header {
  font-family: var(--font-family-second);
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.turnkey-text {
  font-size: var(--mobail-font-size);
  max-width: 320px;
  text-align: justify;
}
.turnkey-img {
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .turnkey-wrapper {
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
  .turnkey-text-content {
    max-width: 400px;
  }
  .turnkey-img-wrap {
    width: 320px;
    height: 270px;
  }
  .turnkey-header {
    font-family: var(--font-family-second);
    font-size: 30px;
    text-align: start;
    margin-bottom: 20px;
  }
  .turnkey-text {
    font-size: var(--mobail-font-size);
    max-width: 320px;
    text-align: start;
  }
}

@media only screen and (min-width: 1200px) {
  .turnkey-section {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.08),
      0px 16px 32px rgba(0, 0, 0, 0.06);

    margin-bottom: 100px;
  }
  .turnkey-wrapper {
    justify-content: center;
    align-items: start;
    gap: 102px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .turnkey-text-content {
    max-width: 400px;
  }
  .turnkey-img-wrap {
    width: 895px;
    height: 541px;
  }
  .turnkey-header {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .turnkey-text {
    max-width: 400px;
    font-size: var(--font-size-base);
    padding-left: 10px;
    line-height: 33.44px;
  }
  .turnkey-iteam::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--second-background-color);
    position: absolute;
    top: 13px;
    left: 0px;
  }
  .turnkey-text-content {
    justify-content: start;
  }
}
