<section class="about-us-about" id="about-us-about">
  <div class="container about-us-about-container">
    <div class="about-us-info">
      <h1 class="about-us-title">O Nanowo</h1>
      <p class="about-us-text">
        Jesteśmy firmą remontowo - budowlaną istniejącą na rynku od 2015 roku.
        <br />
        Swoją działalność rozpoczynaliśmy od wykonywania projektów aranżacji
        wnętrz i remontów mieszkań pod klucz dla osób prywatnych. <br />
        Z biegiem czasu rozszerzyliśmy zakres naszych usług i od kilku lat
        zajmujemy się głównie realizacją dużych inwestycji przeznaczonych na
        wynajem lub sprzedaż dla Deweloperów. 
      </p>
    </div>
  </div>
</section>
