<section class="attitude" id="attitude">
  <div class="container attitude-container">
    <div class="attitude-video-wrapper">
      <video class="attitude-video" autoplay loop muted playsinline>
        <source src="../../img/About/attitude-video.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="attitude-container-wrapper">
      <h2 class="attitude-title">Nanowo pod klucz</h2>
      <p class="attitude-text">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Utert enim ad minim
        veniam, quis nostrud exercitation ullamco laborista nisi ut aliquip ex
        ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur.."
      </p>
    </div>
  </div>
</section>
