<section class="attitude" id="attitude">
  <div class="container attitude-container">


    <div class="attitude-video-wrapper">
  <iframe
    class="attitude-video"
    src="https://www.youtube.com/embed/jLOiA6Xe8zc?autoplay=1&mute=1&loop=1&playlist=jLOiA6Xe8zc"
    title="YouTube video"
    frameborder="0"
    allow="autoplay; encrypted-media; picture-in-picture"
    allowfullscreen>
  </iframe>
</div>
    <div class="attitude-container-wrapper">
      <h2 class="attitude-title">O Nanowo</h2>
      <p class="attitude-text">
        O Nanowo
Jesteśmy firmą remontowo-budowlaną działającą na rynku od 2015 roku. Początkowo
specjalizowaliśmy się w projektowaniu aranżacji wnętrz oraz remontach mieszkań „pod
klucz” dla klientów indywidualnych. Z biegiem lat rozszerzyliśmy naszą ofertę, koncentrując
się głównie na realizacji dużych inwestycji przeznaczonych na wynajem lub sprzedaż.
Na przestrzeni ostatnich lat, stawiając na rozwój firmy, zrealizowaliśmy wiele fit-outów,
współpracując z najbardziej rozpoznawalnymi deweloperami w Polsce.
 Dzięki zaufaniu
naszych klientów, obecnie możemy się pochwalić bogatym wachlarzem zakończonych
projektów.
Nasze atuty to terminowość i płynność realizacji, które zapewniamy dzięki solidnej
komunikacji - zarówno z klientami, jak i wewnątrz zespołu.
Z myślą o zapewnieniu bezpieczeństwa naszych inwestorów, oferujemy kompleksową
obsługę na każdym etapie realizacji wykończenia lokali. W skład naszych usług wchodzi
pełna koordynacja robót, zarządzanie zamówieniami materiałowymi, monitorowanie
harmonogramów oraz ścisła współpraca z wykonawcami wskazanymi przez Inwestora.
Dzięki temu nasi klienci mogą mieć pewność, że ich inwestycje są realizowane zgodnie z
planem, co gwarantuje im pełny spokój.
W Nanowo wierzymy, że sukces to nie tylko starannie wykończony lokal, ale także
satysfakcja klienta i budowanie długotrwałego zaufania, które owocuje kolejnymi
realizacjami.
Jeśli szukasz solidnego partnera do realizacji dużych i średnich inwestycji – jesteś w
odpowiednim miejscu.
      </p>

    </div>
  </div>
</section>
