<section class="attitude" id="attitude">
  <div class="container attitude-container">


    <div class="attitude-video-wrapper">
  <iframe
    class="attitude-video"
    src="https://www.youtube.com/embed/jLOiA6Xe8zc?autoplay=1&mute=1&loop=1&playlist=jLOiA6Xe8zc"
    title="YouTube video"
    frameborder="0"
    allow="autoplay; encrypted-media; picture-in-picture"
    allowfullscreen>
  </iframe>
</div>
    <div class="attitude-container-wrapper">
      <h2 class="attitude-title">O Nanowo</h2>
      <p class="attitude-text">
        Nanowo Pod Klucz to firma remontowo-budowlana działająca od 2015 roku. Specjalizujemy się w kompleksowym wykończeniu dużych i średnich inwestycji „pod klucz”, realizując projekty dla deweloperów i inwestorów na wynajem lub sprzedaż. <br>

Zapewniamy pełną koordynację prac, kontrolę harmonogramów i wsparcie na każdym etapie realizacji. <br>

Działamy terminowo, sprawnie i z pełnym zaangażowaniem – stawiamy na jakość, zaufanie i długofalową współpracę.

      </p>

    </div>
  </div>
</section>
