.implementation-contact {
  background-color: var(--second-background-color);
}
.implementation-contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  gap: 15px;
}
.implementation-contact-text {
  font-family: var(--font-family-second);
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  color: rgba(246, 246, 246, 1);
  max-width: 532px;
}
@media only screen and (min-width: 768px) {
  .implementation-contact-container {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    gap: 20px;
  }
  .implementation-contact-text {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  .implementation-contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 40px;
    margin-bottom: 93px;
    gap: 32px;
  }
  .implementation-contact-text {
    font-size: 32px;
  }
}
