.imp-project-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.imp-project-list {
  display: flex;
  flex-direction: column-reverse;
  background-color: #ffffff;
  max-width: fit-content;
  gap: 12px;
  box-shadow: 0px 2.7px 3.6px -5px rgba(0, 0, 0, 0.04);

  box-shadow: 0px 7.5px 10px -5px rgba(0, 0, 0, 0.06);

  box-shadow: 0px 18px 24.1px -5px rgba(0, 0, 0, 0.08);

  box-shadow: 0px 60px 80px -5px rgba(0, 0, 0, 0.1);
}
.imp-project-info {
  margin-bottom: 20px;
}
.imp-projects-header {
  font-family: var(--font-family-second);
  text-align: center;
  font-weight: 400;
  font-size: 35px;
  line-height: 100%;
  margin: 20px auto;
}
.imp-project-iteam {
  display: flex;
  flex-direction: column;
  width: 261px;
  padding: 0 10px;
}
.imp-project-info-header {
  font-weight: 400;
  font-size: var(--mobail-font-size);
  margin-bottom: 4px;
}
.imp-project-info-street {
  font-family: var(--font-family-second);
  font-weight: 400;
  font-size: 25px;
  line-height: 100%;
}
.imp-project-info-city {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  margin-bottom: 20px;
}
.imp-project-info-text {
  font-weight: 400;
  font-size: var(--mobail-font-size);
  line-height: 100%;
}
.imp-project-count {
  font-family: var(--font-family-second);
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
}
.imp-project-count-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

.imp-project-year {
  font-family: var(--font-family-second);
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
}
.imp-project-year-text {
  font-weight: 400;
  font-size: var(--mobail-font-size);
  line-height: 100%;
}
.imp-project-after-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
}
.imp-project-after-wrapper::after {
  content: '';
  height: 1px;
  width: 100%;
  background-color: rgba(221, 221, 221, 1);
  margin-top: 20px;
}
.imp-project-img {
  display: none;
}
.imp-project-img-mob {
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .imp-project-iteam {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0 40px;
  }
  .imp-project-info {
    width: 261px;
  }
  .imp-project-list {
    gap: 20px;
  }
  .implementation-header {
    font-size: var(--tablet-font-size);
  }
  .imp-project-info-street {
    font-size: 30px;
  }
  .imp-project-info-city {
    font-size: 18px;
  }
  .imp-project-info-text {
    font-size: var(--tablet-font-size);
  }
  .imp-project-count {
    font-size: 35px;
  }
  .imp-project-count-text {
    font-size: 18px;
  }
  .imp-project-year {
    font-size: 35px;
  }
  .imp-project-year-text {
    font-size: var(--tablet-font-size);
  }
}

@media only screen and (min-width: 1200px) {
}
