<footer class="footer">
  <div class="container footer__container">
    <div class="footer__column footer__logo-social">
      <a href="./index.html" class="footer__logo-link">
        <img
          src="./img/svg/Nanowo_logo_white.svg"
          alt="Nanowo Logo"
          class="footer__logo-img"
        />
      </a>
      <ul class="footer__social">
        <li>
          <a href="#"
            ><svg class="footer__social-icon">
              <use href="./img/svg/spreg-nanowo.svg#icon-linkdn"></use></svg
          ></a>
        </li>
        <li>
          <a href="#"
            ><svg class="footer__social-icon">
              <use href="./img/svg/spreg-nanowo.svg#icon-fb"></use></svg
          ></a>
        </li>
        <li>
          <a href="#"
            ><svg class="footer__social-icon">
              <use href="./img/svg/spreg-nanowo.svg#icon-Instagram"></use></svg
          ></a>
        </li>
      </ul>
    </div>

    <div class="footer__column footer__nav">
      <a href="./about.html" class="footer__link">O nas</a>
      <a href="./implementation.html" class="footer__link">Realizacje</a>
      <a href="./updates.html" class="footer__link">Aktualnośći</a>
    </div>

    <div class="footer__column footer__contacts">
      <a href="mailto:nanowo@gmail.com" class="footer__contact">
        <svg class="footer__contact-icon">
          <use href="./img/svg/spreg-nanowo.svg#icon-mail"></use>
        </svg>
        <span>nanowo@gmail.com</span>
      </a>
      <a href="tel:+487656541" class="footer__contact">
        <svg class="footer__contact-icon">
          <use href="./img/svg/spreg-nanowo.svg#icon-cell-phone"></use>
        </svg>
        <span>+487656541</span>
      </a>
      <a
        href="https://www.google.com/search?q=Grabiszyńska+241+E%2C+Wrocław"
        target="_blank"
        class="footer__contact"
      >
        <svg class="footer__contact-icon">
          <use href="./img/svg/spreg-nanowo.svg#icon-location"></use>
        </svg>
        <span>Grabiszyńska 241 E</span>
      </a>
    </div>
  </div>

  <div class="footer__bottom">
    <p class="footer__copyright">Nanowo © 2024</p>
    <div class="footer__policies">
      <a href="#" class="footer__policy">Privacy policy</a>
      <a href="#" class="footer__policy">Cookies policy</a>
      <a href="#" class="footer__policy">Legal notice</a>
    </div>
  </div>
</footer>
