<footer class="footer">
  <div class="container">
    <ul class="footer-list">
      <li class="footer-items">
        <div class="wrap-social">
          <a class="logo-link-footer" href="./index.html">
            <img
              class="logo-img-footer"
              src="./img/svg/Nanowo_logo_white.svg"
              alt="Logo"
            />
          </a>

          <ul class="footer-social">
            <li class="footer-social-item">
              <svg class="social-img-footer">
                <use href="./img/svg/spreg-nanowo.svg#icon-linkdn"></use>
              </svg>
            </li>
            <li class="footer-social-item">
              <svg class="social-img-footer">
                <use href="./img/svg/spreg-nanowo.svg#icon-fb"></use>
              </svg>
            </li>
            <li class="footer-social-item">
              <svg class="social-img-footer">
                <use href="./img/svg/spreg-nanowo.svg#icon-Instagram"></use>
              </svg>
            </li>
          </ul>
        </div>
      </li>

      <li class="footer-items">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#">O nas</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#">Realizacje</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#">Aktualnośći</a>
          </li>
        </ul>
      </li>
      <li class="footer-items">
        <ul class="footer-contacts-list">
          <li>
            <a class="contact-iteam" href="mailto:nanowo@gmail.com">
              <p class="contact-text">Email</p>
              <p class="contact-text">nanowo@gmail.com</p></a
            >
          </li>
          <li>
            <a class="contact-iteam" href="tel:+487656541 ">
              <p class="contact-text">Telefon</p>
              <p class="contact-text">+487656541</p>
            </a>
          </li>
          <li>
            <a
              class="contact-iteam"
              href="https://www.google.com/search?q=Grabiszy%C5%84ska+241+E%2C+Wroc%C5%82aw&oq=Grabiszy%C5%84ska+241+E%2C+Wroc%C5%82aw&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIGCAEQABge0gEINTkzOGowajeoAgCwAgA&sourceid=chrome&ie=UTF-8#smwie=1"
              target="_blank"
            >
              <p class="contact-text">Adres:</p>
              <p class="contact-text">Grabiszyńska 241 E</p>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="footer-signature-list">
      <li class="footer-signature-item">
        <p class="footer-signature-text">Nanowo © 2024</p>
      </li>
      <li class="footer-signature-item">
        <p class="footer-signature-text">Design by Olga Lanova</p>
      </li>
      <li class="footer-signature-item">
        <div class="policy-wraper">
          <p class="footer-signature-policy">Privacy policy</p>
          <p class="footer-signature-policy">Cookies policy</p>
          <p class="footer-signature-policy">Legal notice</p>
        </div>
      </li>
    </ul>
    <ul class="mob-footer-list">
      <li class="mob-mebu-item">
        <a class="logo-link-mob-footer loader-class" href="./index.html">
          <img
            class="logo-img-mob-footer loader-class"
            src="./img/svg/Logo_white_MOB.svg"
            alt="Logo"
          />
        </a>
        <a class="contact-iteam-mob" href="tel:+487656541 ">
          <svg class="contact-img-footer">
            <use href="./img/svg/spreg-nanowo.svg#icon-cell-phone"></use>
          </svg>
          <p class="contact-text">+487656541</p>
        </a>
      </li>
      <li class="mob-mebu-item">
        <div class="mob-contact-wraper">
          <ul class="social-links-list-mob-footer">
            <li class="social-links-item-mob-footer">
              <a class="social-link-mob-footer" href="#">
                <svg class="social-img-mob-footer">
                  <use href="./img/svg/spreg-nanowo.svg#icon-linkdn"></use>
                </svg>
              </a>
            </li>
            <li class="social-links-item-mob-footer">
              <a class="social-link-mob-footer" href="#">
                <svg class="social-img-mob-footer">
                  <use href="./img/svg/spreg-nanowo.svg#icon-fb"></use>
                </svg>
              </a>
            </li>
            <li class="social-links-item-mob-footer">
              <a class="social-link-mob-footer" href="#">
                <svg class="social-img-mob-footer">
                  <use href="./img/svg/spreg-nanowo.svg#icon-Instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
          <a class="contact-iteam-mob" href="mailto:nanowo@gmail.com">
            <svg class="contact-img-footer">
              <use href="./img/svg/spreg-nanowo.svg#icon-mail"></use>
            </svg>
            <p class="contact-text">nanowo@gmail.com</p>
          </a>
        </div>
      </li>
    </ul>
  </div>
</footer>
