<footer class="footer">
  <div class="container">
    <ul class="footer-list">
      <li class="footer-items">
        <a class="logo-link-footer" href="./index.html">
          <img
            class="logo-img-footer"
            src="./img/svg/Nanowo_logo_white.svg"
            alt="Logo"
          />
        </a>

        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </li>
      <li class="footer-items"></li>
      <li class="footer-items"></li>
    </ul>
    <ul class="mob-footer-list">
      <li class="mob-mebu-item">
        <a class="logo-link-mob-footer loader-class" href="./index.html">
          <img
            class="logo-img-mob-footer loader-class"
            src="./img/svg/Logo_white_MOB.svg"
            alt="Logo"
          />
        </a>
        <a class="contact-iteam-mob" href="tel:+487656541 ">
          <svg class="contact-img-footer">
            <use href="./img/svg/spreg-nanowo.svg#icon-cell-phone"></use>
          </svg>
          <p class="contact-text">+487656541</p>
        </a>
      </li>
      <li class="mob-mebu-item">
        <div class="mob-contact-wraper">
          <ul class="social-links-list-mob-footer">
            <li class="social-links-item-mob-footer">
              <a class="social-link-mob-footer" href="#">
                <svg class="social-img-mob-footer">
                  <use href="./img/svg/spreg-nanowo.svg#icon-linkdn"></use>
                </svg>
              </a>
            </li>
            <li class="social-links-item-mob-footer">
              <a class="social-link-mob-footer" href="#">
                <svg class="social-img-mob-footer">
                  <use href="./img/svg/spreg-nanowo.svg#icon-fb"></use>
                </svg>
              </a>
            </li>
            <li class="social-links-item-mob-footer">
              <a class="social-link-mob-footer" href="#">
                <svg class="social-img-mob-footer">
                  <use href="./img/svg/spreg-nanowo.svg#icon-Instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
          <a class="contact-iteam-mob" href="mailto:nanowo@gmail.com">
            <svg class="contact-img-footer">
              <use href="./img/svg/spreg-nanowo.svg#icon-mail"></use>
            </svg>
            <p class="contact-text">nanowo@gmail.com</p>
          </a>
        </div>
      </li>
    </ul>
  </div>
</footer>
