<header class="header">
  <div class="header-container container">
    <a class="logo-link" href="../index.html" class="logo-link">
      <img class="logo-img" src="./img/svg/Nanowo_logo_white.svg" alt="Logo" />
    </a>
    <nav class="nav-container">
       <ul class="nav-menu">
              <li>
                <a class="nav-menu-item link" href="./aboutMe.html">About Me</a>
              </li>
              <li>
                <a class="nav-menu-item link" href="#"
                  >O Nanowo</a
                >
              </li>
              <li>
                <a class="nav-menu-item link" href="#"
                  >Realizacje</a
                >
              </li>
              <li>
                <a class="nav-menu-item link" href="#"
                  >Aktualnośći</a
                >
              </li>
              <li>
                <a class="nav-menu-item link" href="#">Kontakt</a>
              </li>
            </ul>
          </nav>
    </nav>
    

    <button class="hamburder-btn  " data-mob-open type="button " id="nav-icon2">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>
    
  </div>

          <div class="mob-menu is-hidden container" data-mob>
            <div>
              <button class="close-menu-button" type="button " data-mob-close>
                X
              </button>
            </div>
            <ul class="mob-menu-list">
              <li>
                <a class="link mob-menu-items" href="./aboutMe.html"
                  >About Me</a
                >
              </li>
              <li>
                <a class="link mob-menu-items" href="./education.html"
                  >Education</a
                >
              </li>
              <li>
                <a class="link mob-menu-items" href="./experience.html"
                  >Experiace</a
                >
              </li>
              <li>
                <a class="link mob-menu-items" href="./projects.html"
                  >Projects</a
                >
              </li>
              <li>
                <a class="link mob-menu-items" href="./contacts.html"
                  >Contact</a
                >
              </li>
            </ul>
            <ul class="modal-contacts">
              <li class="modal-contacts-item">
                <a class="modal-link" href="tel:+48794467804">
                  <svg class="phone-modal-svg" width="24" height="24">
                    <use href="./images/icons.svg#icon-phone"></use></svg
                ></a>
              </li>
              <li class="modal-contacts-item">
                <a class="modal-link" href="mailto:djseagull90@gmail.com">
                  <svg class="mail-modal-svg" width="24" height="24">
                    <use href="./images/icons.svg#icon-envelop"></use></svg
                ></a>
              </li>
            </ul>
          </div>
        </div>
       
</header>
