<header class="header">
  <div class="mob-menu is-hidden" data-mob>
    <ul class="mob-menu-list">
      <li>
        <a class="link mob-menu-items" href="./about.html">O Nanowo</a>
      </li>
      <li>
        <a class="link mob-menu-items" href="#">Realizacje</a>
      </li>
      <li>
        <a class="link mob-menu-items" href="#">Aktualnośći</a>
      </li>
      <li>
        <a class="link mob-menu-items" href="#">Kontakt</a>
      </li>
    </ul>
  </div>
  <div class="header-container container">
    <a class="logo-link-mob" href="./index.html">
      <img class="logo-img-mob" src="./img/svg/Logo_white_MOB.svg" alt="Logo" />
    </a>
    <a class="logo-link" href="./index.html">
      <img class="logo-img" src="./img/svg/Nanowo_logo_white.svg" alt="Logo" />
    </a>
    <nav class="nav-container">
      <ul class="nav-menu">
        <li>
          <a class="nav-menu-item link" href="./about.html">O Nanowo</a>
        </li>
        <li>
          <a class="nav-menu-item link" href="#">Realizacje</a>
        </li>
        <li>
          <a class="nav-menu-item link" href="#">Aktualnośći</a>
        </li>
        <li>
          <a class="nav-menu-item link" href="#">Kontakt</a>
        </li>
      </ul>
    </nav>

    <button
      class="hamburder-btn"
      data-mob-open
      data-mob-close
      type="button "
      id="nav-icon2"
    >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <div class="mob-menu is-hidden container" data-mob>
    <ul class="mob-menu-list">
      <li>
        <a class="link mob-menu-items" href="#">O Nanowo</a>
      </li>
      <li>
        <a class="link mob-menu-items" href="#">Realizacje</a>
      </li>
      <li>
        <a class="link mob-menu-items" href="#">Aktualnośći</a>
      </li>
      <li>
        <a class="link mob-menu-items" href="#">Kontakt</a>
      </li>
    </ul>
  </div>
</header>
