.footer {
  background-color: var(--second-background-color);
  padding: 10px 0;
}
.footer-list {
  display: none;
}
.logo-link-mob-footer {
  cursor: pointer;
}

.logo-img-mob-footer {
  width: 50px;
  height: 50px;
}

.social-links-list-mob-footer {
  display: flex;
  gap: 20px;
  justify-content: end;
}
.social-link-mob-footer {
  cursor: pointer;
}
.social-img-mob-footer {
  width: 20px;
  height: 20px;
  fill: var(--hover-text-color);
}

.contact-img-footer {
  stroke: var(--primary-background-color);
  stroke-width: 2px;
  fill: transparent;
  width: 20px;
  height: 20px;
}
.contact-text {
  font-weight: 400;
  font-size: 16px;

  color: var(--primary-text-color);
}
.mob-footer-list {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.mob-contact-wraper {
  display: flex;
  flex-direction: column;
}
.contact-iteam-mob {
  display: flex;
  gap: 5px;
}
.mob-mebu-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 0;
  }
  .footer-list {
    display: flex;
    justify-content: space-between;
  }
  .footer-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .mob-footer-list {
    display: none;
  }
  .footer-social {
    display: flex;
    gap: 25px;
  }
  .social-img-footer {
    width: 25px;
    height: 25px;
    fill: var(--hover-text-color);
  }
  .footer-nav-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer-nav-link {
    color: #dddddd;
    font-size: var(--tablet-font-size);
    line-height: 24px;
  }
  .footer-nav-item {
    display: flex;
  }
  .footer-contacts-list {
    display: flex;
    flex-direction: column;
  }
  .contact-iteam {
    display: flex;
    gap: 10px;
  }
  .footer-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .contact-text {
    font-size: var(--tablet-font-size);
    line-height: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .logo-img-footer {
    width: 165px;
    height: 92px;
  }
}
