.footer {
  background-color: var(--second-background-color);
  padding: 10px 0;
}
.footer-list {
  display: none;
}
.logo-link-mob-footer {
  cursor: pointer;
}

.logo-img-mob-footer {
  width: 50px;
  height: 50px;
}

.social-links-list-mob-footer {
  display: flex;
  gap: 20px;
  justify-content: end;
}
.social-link-mob-footer {
  cursor: pointer;
}
.social-img-mob-footer {
  width: 20px;
  height: 20px;
  fill: var(--hover-text-color);
  transition: fill var(--transition-effect);
}
.social-link-mob-footer:hover .social-img-mob-footer {
  fill: var(--primary-text-color);
}
.social-link-mob-footer:focus .social-img-mob-footer {
  fill: var(--primary-text-color);
}
.social-link-mob-footer:active .social-img-mob-footer {
  fill: var(--primary-text-color);
}

.contact-img-footer {
  stroke: var(--primary-background-color);
  stroke-width: 2px;
  fill: transparent;
  width: 20px;
  height: 20px;
  transition: fill var(--transition-effect);
}
.contact-text {
  font-weight: 400;
  font-size: 16px;
  transition: color var(--transition-effect);
  color: var(--primary-text-color);
}
.mob-footer-list {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.mob-contact-wraper {
  display: flex;
  flex-direction: column;
}
.contact-iteam-mob {
  display: flex;
  gap: 5px;
}
.contact-iteam-mob:hover .contact-img-footer,
.contact-iteam-mob:hover .contact-text {
  fill: var(--hover-text-color); /* Для SVG */
  color: var(--hover-text-color); /* Для тексту */
}
.contact-iteam-mob:active .contact-img-footer,
.contact-iteam-mob:active .contact-text {
  fill: var(--hover-text-color); /* Для SVG */
  color: var(--hover-text-color); /* Для тексту */
}
.contact-iteam-mob:focus .contact-img-footer,
.contact-iteam-mob:focus .contact-text {
  fill: var(--hover-text-color); /* Для SVG */
  color: var(--hover-text-color); /* Для тексту */
}
.mob-mebu-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-signature-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 0;
  }
  .footer-list {
    display: flex;
    justify-content: space-between;
  }
  .footer-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .mob-footer-list {
    display: none;
  }
  .footer-social {
    display: flex;
    gap: 25px;
  }
  .social-img-footer {
    width: 25px;
    height: 25px;
    fill: var(--hover-text-color);
    transition: fill var(--transition-effect);
  }
  .footer-social-item:hover .social-img-footer {
    fill: var(--primary-text-color);
  }
  .footer-social-item:focus .social-img-footer {
    fill: var(--primary-text-color);
  }
  .footer-social-item:active .social-img-footer {
    fill: var(--primary-text-color);
  }
  .footer-nav-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer-nav-link {
    color: #dddddd;
    font-size: var(--tablet-font-size);
    line-height: 24px;
    transition: color var(--transition-effect);
  }
  .footer-nav-item {
    display: flex;
  }

  .footer-nav-link:hover {
    color: var(--hover-text-color);
  }
  .footer-nav-link:active {
    color: var(--hover-text-color);
  }
  .footer-nav-link:focus {
    color: var(--hover-text-color);
  }
  .footer-contacts-list {
    display: flex;
    flex-direction: column;
  }
  .contact-iteam {
    display: flex;
    gap: 10px;
    transition: color var(--transition-effect);
  }

  .contact-iteam:hover .contact-text {
    color: var(--hover-text-color);
  }
  .contact-iteam:focus .contact-text {
    color: var(--hover-text-color);
  }
  .contact-iteam:active .contact-text {
    color: var(--hover-text-color);
  }

  .footer-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .contact-text {
    font-size: var(--tablet-font-size);
    line-height: 24px;
    transition: color var(--transition-effect);
  }
  .footer-list {
    margin-bottom: 40px;
  }
  .footer-signature-list {
    display: flex;
    justify-content: space-between;
  }
  .policy-wraper {
    display: flex;
    gap: 20px;
  }
  .footer-signature-item:nth-child(2) .footer-signature-text {
    margin-left: 60px;
  }
  .footer-signature-text {
    color: #dddddd;
    font-size: 11px;
  }
  .footer-signature-policy {
    font-size: 11px;
    color: var(--primary-text-color);
    font-weight: 600;
  }
}
@media only screen and (min-width: 1200px) {
  .logo-img-footer {
    width: 165px;
    height: 92px;
  }
  .footer-list {
    margin-bottom: 52px;
  }
  .wrap-social {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footer-social {
    gap: 40px;
  }
  .social-img-footer {
    width: 28px;
    height: 28px;
  }
  .footer-nav-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer-items {
    justify-content: end;
  }
  .footer-nav-list {
    gap: 24px;
    justify-content: end;
  }
  .footer-contacts-list {
    gap: 24px;
    color: var(--primary-text-color);
  }
  .footer-signature-item:nth-child(2) .footer-signature-text {
    margin-left: 90px;
  }
}
