.footer {
  background-color: var(--second-background-color);
}
.footer-list {
  display: none;
}
.logo-link-mob-footer {
  cursor: pointer;
}

.logo-img-mob-footer {
  width: 50px;
  height: 50px;
  padding: 10px 0;
}
.logo-link-footer {
  display: none;
}

.social-links-list-mob-footer {
  display: flex;
  gap: 20px;
}
.social-link-mob-footer {
  cursor: pointer;
}
.social-img-mob-footer {
  width: 20px;
  height: 20px;
  fill: var(--hover-text-color);
}

.contact-img-footer {
  stroke: var(--primary-background-color);
  stroke-width: 2px;
  fill: transparent;
  width: 20px;
  height: 20px;
}
.contact-text {
  font-weight: 400;
  font-size: var(--mobail-font-size);

  color: var(--primary-text-color);
}
.mob-footer-list {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.mob-contact-wraper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-iteam-mob {
  display: flex;
  gap: 5px;
}

@media only screen and (min-width: 768px) {
  .logo-link-mob-footer {
    display: none;
  }
  .logo-link-footer {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  .logo-img-footer {
    width: 165px;
    height: 92px;
  }
}
