.header {
  display: flex;
  background-color: var(--second-background-color);
  justify-content: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-link-mob {
  cursor: pointer;
}

.logo-img-mob {
  width: 50px;
  height: 50px;
  padding: 10px 0;
}
.logo-link {
  display: none;
}
/* ===================Modal==============*/
.no-sctoll {
  overflow: hidden;
  flex-grow: 1;
}

.mob-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: #2a3137;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.is-hidden {
  pointer-events: none;
  top: -100vh;
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.mob-menu-items {
  color: #fff;
  font-family: 'Poiret One';
  font-size: 24px;
  line-height: 24px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  transition: color var(--transition-effect);
}

.mob-menu-items:hover {
  color: var(--hover-text-color);
}
.mob-menu-items:active {
  color: var(--hover-text-color);
}
.mob-menu-items:active {
  color: var(--hover-text-color);
}

.hamburder-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.nav-container {
  display: none;
}

/* ==============Burger animation=========================*/

#nav-icon2 {
  width: 24px; /* Зменшена ширина контейнера */
  height: 18px; /* Зменшена висота контейнера */
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 3px; /* Зменшена висота ліній */
  width: 50%; /* Ширина ліній */
  background: var(--primary-text-color);
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
  top: 0px; /* Відстань між лініями, якщо потрібно, можна відкоригувати */
}

#nav-icon2 span:nth-child(3),
#nav-icon2 span:nth-child(4) {
  top: 6px; /* Зменшено відстань між лініями */
}

#nav-icon2 span:nth-child(5),
#nav-icon2 span:nth-child(6) {
  top: 12px; /* Зменшено відстань між лініями */
}

#nav-icon2.open span:nth-child(1),
#nav-icon2.open span:nth-child(6) {
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),
#nav-icon2.open span:nth-child(5) {
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 3px; /* Відкориговано позицію */
  top: 3px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 3px); /* Відкориговано позицію */
  top: 3px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 3px; /* Відкориговано позицію */
  top: 9px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 3px); /* Відкориговано позицію */
  top: 9px;
}

/* =======================================*/
/* ================ TABLET =======================*/
@media only screen and (min-width: 768px) {
  .logo-link-mob {
    display: none;
  }
  .logo-link {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  .mob-menu,
  .hamburder-btn {
    display: none;
  }
  .nav-container {
    display: flex;
  }
  .nav-menu {
    display: flex;
    color: var(--primary-text-color);
    gap: 25px;
  }
  .nav-menu-item {
    font-size: 20px;
    transition: color 0.3s ease-in-out;
  }

  .nav-menu-item:hover {
    color: var(--hover-text-color);
  }
  .nav-menu-item:active {
    color: var(--hover-text-color);
  }
  .nav-menu-item:active {
    color: var(--hover-text-color);
  }
}
