<section id="hero" class="hero">
  <div class="video-container">
    <div class="background-video">
      <video class="video" autoplay muted loop>
        <source
          type="video/webm"
          src="././img/Home/hero-video/background-video-vebm.webm"
        />
        <source
          type="video/mp4"
          src="././img/Home/hero-video/backgroundvideo.mp4"
        />
      </video>
      <div class="video-overlay"></div>
    </div>
  </div>
  <div class="container hero-section">
    <div class="hero-headline-wrapper">
      <div class="head-container">
        <h2 class="hero-undrer-text">Kompleksowe wykończenia wnętrz</h2>
        <h1 class="hero-headline">DLA DUŻYCH INWESTYCJI</h1>
      </div>
      <ul class="hero-list">
        <li class="hero-list-iteam">
          <h2 class="helro-list-text">MIESZKANA</h2>
        </li>
        <li class="hero-list-iteam">
          <h2 class="helro-list-text">HOTELE</h2>
        </li>
        <li class="hero-list-iteam">
          <h2 class="helro-list-text">BIURA</h2>
        </li>
      </ul>
    </div>
    <div class="hero-about">
      <!-- <h2 class="hero-about-headline">O nas</h2>
      <p class="hero-about-text">
        Usługi dla inwestorów oraz deweloperów. Jesteśmy firmą z 10-letnim
        doświadczeniem w branży wykończeniowej.
      </p> -->
      <a class="herro-btn" href="././implementation.html#imp-projects"
        >Poznaj nasze rozwiązania!</a
      >
    </div>
  </div>
</section>
