<section id="projects" class="projects project-container">
  <div class="container">
    <div class="project-header">
      <h2 class="project-head">Nasze realizacje</h2>
      <p class="project-text">
        Przekonaj się jak faktycznie wyglądają nasze realizację
      </p>
    </div>

    <!-- Slider main container -->
    <div class="projectSwiper swiper">
      <!-- Additional required wrapper -->

      <div class="swiper-pagination project-pagination"></div>
      <div class="prpject-wrapper swiper-wrapper">
        <!-- Slides -->

        <div class="project-slide swiper-slide">
          <div class="slider-container">
            <div class="slide-info">
              <h2 class="investor-slide">Inwestor: Romuald Olbrych</h2>
              <p class="slide-text">
                Wykonanie robót remontowo-budowlanych w 87 <br />
                mieszkaniach w budynkach A i B zlokalizowanych <br />przy ul.
                Browarnej we Wrocławiu.
              </p>
            </div>
            <div class="img-slide">
              <img
                class="project-img"
                src="././img/Home/project/project-1.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="project-slide swiper-slide">
          <div class="slider-container">
            <div class="slide-info">
              <h2 class="investor-slide">Inwestor: Romuald Olbrych</h2>
              <p class="slide-text">
                Wykonanie robót remontowo-budowlanych w 87 <br />
                mieszkaniach w budynkach A i B zlokalizowanych <br />przy ul.
                Browarnej we Wrocławiu.
              </p>
            </div>
            <div class="img-slide">
              <img
                class="project-img"
                src="././img/Home/project/project-1.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="project-slide swiper-slide">
          <div class="slider-container">
            <div class="slide-info">
              <h2 class="investor-slide">Inwestor: Romuald Olbrych</h2>
              <p class="slide-text">
                Wykonanie robót remontowo-budowlanych w 87 <br />
                mieszkaniach w budynkach A i B zlokalizowanych <br />przy ul.
                Browarnej we Wrocławiu.
              </p>
            </div>
            <div class="img-slide">
              <img
                class="project-img"
                src="././img/Home/project/project-1.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="project-slide swiper-slide">
          <div class="slider-container">
            <div class="slide-info">
              <h2 class="investor-slide">Inwestor: Romuald Olbrych</h2>
              <p class="slide-text">
                Wykonanie robót remontowo-budowlanych w 87 <br />
                mieszkaniach w budynkach A i B zlokalizowanych <br />przy ul.
                Browarnej we Wrocławiu.
              </p>
            </div>
            <div class="img-slide">
              <img
                class="project-img"
                src="././img/Home/project/project-1.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="project-slide swiper-slide">
          <div class="slider-container">
            <div class="slide-info">
              <h2 class="investor-slide">Inwestor: Romuald Olbrych</h2>
              <p class="slide-text">
                Wykonanie robót remontowo-budowlanych w 87 <br />
                mieszkaniach w budynkach A i B zlokalizowanych <br />przy ul.
                Browarnej we Wrocławiu.
              </p>
            </div>
            <div class="img-slide">
              <img
                class="project-img"
                src="././img/Home/project/project-1.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
    </div>
  </div>
</section>
