<section id="projects" class="projects project-container">
  <div class="container">
    <div class="project-header">
      <h2 class="project-head">Nasze realizacje</h2>
      <p class="project-text">
        Zapoznaj się z projektami, które realizowaliśmy
      </p>
    </div>

    <!-- Slider main container -->
    <div class="projectSwiper swiper">
      <!-- Additional required wrapper -->

      <div class="swiper-pagination project-pagination"></div>
      <div class="project-wrapper swiper-wrapper">
        <!-- Slides -->

        <div class="project-slide swiper-slide">
          <div class="slider-container">
            <div class="slide-info">
              <h2 class="investor-slide">Inwestor: Romuald Olbrych</h2>
              <p class="slide-text">
                Wykonanie robót remontowo-budowlanych <br />
                w 87 mieszkaniach w budynkach A i B <br />przy ul. Browarnej we
                Wrocławiu.
              </p>
              <div class="slider-links">
                <a class="more-link contact-btn " href="././implementation.html#imp-projects"
                  >Więcej
                  <svg class="arrow-icon">
                    <use
                      href="././img/svg/spreg-nanowo.svg#icon-arrow"
                    ></use></svg
                ></a>
              </div>
            </div>
            <div class="img-slide">
              <img
                class="project-img"
                  src="/gallery-impl/Naowo-Indonezyjska/1x/Indonezyjska-24.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="project-slide swiper-slide">
          <div class="slider-container">
            <div class="slide-info">
              <h2 class="investor-slide">Inwestor: Romuald Olbrych</h2>
              <p class="slide-text">
                Wykonanie robót remontowo-budowlanych w 87 <br />
                mieszkaniach w budynkach A i B zlokalizowanych <br />przy ul.
                Browarnej we Wrocławiu.
              </p>
              <div class="slider-links">
                <a class="more-link contact-btn " href="././implementation.html#imp-projects"
                  >Więcej
                  <svg class="arrow-icon">
                    <use
                      href="././img/svg/spreg-nanowo.svg#icon-arrow"
                    ></use></svg
                ></a>
              </div>
            </div>
            <div class="img-slide">
              <img
                class="project-img"
                src="././img/Home/project/project-1.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="project-slide swiper-slide">
          <div class="slider-container">
            <div class="slide-info">
              <h2 class="investor-slide">Inwestor: Romuald Olbrych</h2>
              <p class="slide-text">
                Wykonanie robót remontowo-budowlanych w 87 <br />
                mieszkaniach w budynkach A i B zlokalizowanych <br />przy ul.
                Browarnej we Wrocławiu.
              </p>
              <div class="slider-links">
                <a class="more-link contact-btn " href="././implementation.html#imp-projects"
                  >Więcej
                  <svg class="arrow-icon">
                    <use
                      href="././img/svg/spreg-nanowo.svg#icon-arrow"
                    ></use></svg
                ></a>
              </div>
            </div>
            <div class="img-slide">
              <img
                class="project-img"
                src="././img/Home/project/project-1.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="project-slide swiper-slide">
          <div class="slider-container">
            <div class="slide-info">
              <h2 class="investor-slide">Inwestor: Romuald Olbrych</h2>
              <p class="slide-text">
                Wykonanie robót remontowo-budowlanych w 87 <br />
                mieszkaniach w budynkach A i B zlokalizowanych <br />przy ul.
                Browarnej we Wrocławiu.
              </p>
              <div class="slider-links">
                <a class="more-link contact-btn " href="././implementation.html#imp-projects"
                  >Więcej
                  <svg class="arrow-icon">
                    <use
                      href="././img/svg/spreg-nanowo.svg#icon-arrow"
                    ></use></svg
                ></a>
              </div>
            </div>
            <div class="img-slide">
              <img
                class="project-img"
                src="././img/Home/project/project-1.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="project-slide swiper-slide">
          <div class="slider-container">
            <div class="slide-info">
              <h2 class="investor-slide">Inwestor: Romuald Olbrych</h2>
              <p class="slide-text">
                Wykonanie robót remontowo-budowlanych w 87 <br />
                mieszkaniach w budynkach A i B zlokalizowanych <br />przy ul.
                Browarnej we Wrocławiu.
              </p>
              <div class="slider-links">
                <a class="more-link contact-btn " href="././implementation.html#imp-projects"
                  >Więcej
                  <svg class="arrow-icon">
                    <use
                      href="././img/svg/spreg-nanowo.svg#icon-arrow"
                    ></use></svg
                ></a>
              </div>
            </div>
            <div class="img-slide">
              <img
                class="project-img"
                src="././img/Home/project/project-1.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-navigation-bottom">
        <div class="swiper-button-prev project-button-prev"></div>
        <div class="swiper-button-next project-button-next"></div>
      </div>
    </div>
  </div>
</section>
