<section id="whats-new" class="whats-new">
  <div class="container news-container">
    <p>text</p>
    <a class="contact-btn news-btn open-modal-btn" data-open-modal>
      Skontaktuj się
    </a>
    <div class="news-header-container">
      <h2 class="news-header">Nasze aktualności</h2>
    </div>
    <ul class="news-list">
      <li class="news-iteam">
        <img
          class="news-img"
          src="././img/Home/whats-news/4.-HOUSING-Broom-8.jpg.jpg"
          alt=""
        />
        <div class="iteam-text-content">
          <h2 class="news-iteam-header">Homes and Apartments</h2>
          <p class="news-iteam-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            corrupti quisquam, deleniti quam odit nihil dolore eaque ut qui
          </p>
          <a class="more-link more-link-news" href="#"
            >Więcej
            <svg class="arrow-icon more-link-news">
              <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
          ></a>
        </div>
      </li>
    </ul>
  </div>
</section>
