<section class="contact-form-contact">
  <div class="container contact-form-contact-container">
    <div class="form-wrapper">
      <form class="contact-form" action="">
        <label class="form-label" for="username">Imię</label>
        <input
          class="form-input"
          type="text"
          name="username"
          id="username"
          placeholder="Text"
        />
        <label class="form-label" for="user-email">Email</label>
        <input
          class="form-input"
          type="email"
          name="user-email"
          id="user-email"
          placeholder="Text"
        />
        <label class="form-label" for="user-comment">Informacja</label>
        <textarea
          class="user-comment form-input"
          name="user-comment"
          id="user-comment"
          placeholder="Text"
        ></textarea>
        <div class="modal-checkbox">
          <input
            class="checkbox visually-hidden"
            id="userPrivacy"
            type="checkbox"
            value="true"
            name="user-privacy"
          />
          <label class="checkbox-label" for="userPrivacy">
            <span class="custom-checkbox"
              ><svg class="checkbox-icon" width="10" height="10">
                <use
                  href="././img/svg/spreg-nanowo.svg#icon-checkmark"
                ></use></svg></span
            >Wyrażam zgodę na przetwarzanie moich danych osobowych
          </label>
        </div>
        <button class="form-btn" type="submit">Wyślij</button>
      </form>
    </div>
  </div>
</section>
