<section class="location" id="location">
  <div class="container location-container">
    <h1 class="location-title">Skontaktuj się z nami</h1>
    <div class="location-wrapper">
      <div class="location-info-wrapper">
        <div class="info-wrapper">
          <h3 class="info-title">Zadzwoń do nas</h3>
          <p class="info-element">Poniedziałek-Piątek od 9 do 17</p>
          <a class="info-link info-element" href="tel:+"
            ><span class="info-svg-wrapper"></span>+48 668 349 141</a
          >
        </div>

        <div class="info-wrapper">
          <h3 class="info-title">Napisz do nas</h3>

          <ul class="info-list">
            <li class="info-list-item">
              <a href="mailto:" class="info-link info-element"
                ><span class="info-svg-wrapper"></span>nanowo@gmail.com</a
              >
            </li>

            <li class="info-list-item">
              <a href="" class="info-link info-element">
                <span class="info-svg-wrapper"></span>Instagram</a
              >
            </li>

            <li class="info-list-item">
              <a href="" class="info-link info-element">
                <span class="info-svg-wrapper"></span>Facebook</a
              >
            </li>

            <li class="info-list-item">
              <a href="" class="info-link info-element">
                <span class="info-svg-wrapper"></span>Linkedin</a
              >
            </li>
          </ul>
        </div>

        <div class="info-wrapper">
          <h3 class="info-title">Odwiedź nas</h3>
          <a href="" class="info-link info-element">
            <span class="info-svg-wrapper"
              >Grabiszyńska 241 E53-234 Wrocław</span
            ></a
          >
        </div>
      </div>
      <div class="location-map-wrapper">
        <a
          class="location-map-link"
          href="https://maps.app.goo.gl/GXm5AQgc2AjGoPQ98"
          target="_blank"
          ><img
            class="location-map-img"
            src="././img/Contact/map-img-1x-min.jpg"
            alt="address"
        /></a>
      </div>
    </div>
  </div>
</section>
